@font-face {
  font-family: "Druzok";
  src: url(../assets/fonts/DRUZHOK.otf);
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Josefin-italic";
  src: url(../assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
  font-display: swap;
}

.sect {
  &__title {
    font-family: "Josefin";
    font-size: 8dvw;
    font-weight: 600;
    line-height: 110%;

    &--2 {
      font-size: 28px;
    }
    &--3 {
      font-size: 18px;
      font-weight: 700;
    }
    &--druzok {
      font-family: "Druzok";
    }
    &--italic {
      font-family: "Josefin-italic";
    }
    &--thin {
      font-weight: 300;
    }
    &--big {
      font-size: 10vw;
      line-height: 180%;
    }

    &--white {
      color: #fdf2de;
    }
    &--center{
      text-align: center;
      line-height: 110%;
    }
    &--link {
      transition: 0.3s;

      &:hover {
        color: #f9b949;
        font-weight: 600;
        transition: 0.3s;
      }
    }
    &--ecart {
      margin: 0 0 38px 0;
    }
  }

  &__txt {
    font-family: "Josefin";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: inline-block;
    width: max(100%, 50ch);


    &--ecart {
      margin: 28px 0 0 0;
    }
  }
}



@media (min-width: 600px) {
  .sect {
    &__title {
      font-size: 3dvw;

      &--big{
        font-size: 10dvw;
      }
      &--3{
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}