@font-face {
  font-family: "Druzok";
  src: url(../assets/fonts/DRUZHOK.otf);
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Josefin-italic";
  src: url(../assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
  font-display: swap;
}

::-moz-selection {
  /* Code for Firefox */
  color: #1d1d1d;
  background: #f9b949;
}

::selection {
  color: #1d1d1d;
  background: #f9b949;
}

.sect {
  &__title {
    font-family: "Josefin";
    font-size: 8dvw;
    font-weight: 600;
    line-height: 110%;

    &--2 {
      font-size: 28px;
    }
    &--3 {
      font-size: 18px;
      font-weight: 700;
    }
    &--druzok {
      font-family: "Druzok";
    }
    &--italic {
      font-family: "Josefin-italic";
    }
    &--thin {
      font-weight: 300;
    }
    &--big {
      font-size: 10vw;
      line-height: 180%;
    }
    &--bigSolo{
      font-size: 15dvw;
    }

    &--white {
      color: #fdf2de;
    }
    &--center{
      text-align: center;
      line-height: 110%;
    }
    &--link {
      transition: 0.3s;

      &:hover {
        color: #f9b949;
        font-weight: 600;
        transition: 0.3s;
      }
    }
    &--jaune {
      color: #f9b949;
    }
    &--ecart {
      margin: 0 0 38px 0;
    }
    &--druzokh {
      font-family: "Druzok";
      font-size: 10dvw;
      text-align: center;
      opacity: 0.9;
    }
    &--margeColDr {
      margin: 51px 0 28px;
    }
  }

  &__txt {
    font-family: "Josefin";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: inline-block;
    width: auto;
    max-width: 60ch;
&--auto{
  width: auto;
  max-width: 50ch;
}

    &--ecart {
      margin: 28px 0 0 0;
    }

    &--italic{
      font-family: "Josefin-italic";
      font-weight: 300;
    }
    &--japTxt {
      font-size: 15vw;
      text-align: start;
      width: 8ch;
    }
  }
}



@media (min-width: 600px) {
  .sect {
    &__title {
      font-size: 3dvw;

      &--big{
        font-size: 10dvw;
      }
      &--bigSolo{
        font-size: 8dvw;
      }
      &--3{
        font-size: 18px;
        font-weight: 700;
      }
      &--druzokh {
        font-family: "Druzok";
        font-size: 10dvw;
        text-align: center;
        opacity: 0.9;
      }
    }
  }
}