.sect {

    &--row {
        display: flex;
        flex-direction: column;
    }
    &--rowReverse{
        display: flex;
        flex-direction: column-reverse;
    }
    &--heigth100 {
        //height: 100vh;
        height: 450vh;
        width: 100vw;

       
    }

    &--japInter {
       // background-image: url('../assets/img/japan/japanPatern.svg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    
    &__interColor {
       // background-image: url('../assets/img/japan/japanPatern.svg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        height: 20vh;

        &--oldSchool {
            //background-image: url("../assets/img/svg/oldSchool/paternOldSchool.svg");
            background-size: contain;


        }
    }

    &--snap {
       
        height: 120vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        scroll-snap-stop : always;
        scroll-behavior: smooth;
        scroll-padding-block: 4vh;
        
        //scroll-snap-type: y proximity;
    }
    &--snapBig{
        scroll-padding-block: 20vh;
    }
    &--snapChild{
        //scroll-padding-block: -10vh;
       
        scroll-snap-align:start ;

    }
    

    &__changePage {
        height: 20vh;
        background-color: #FFF5E2;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -20;

        &--close {
            animation: animeChangePage 2s both;
        }

        &--closeNav {
            animation: animeChangePagetoLink 3s both;
            top: 0;
            width: 20vw;
            height: 100vh;
        }
    }

    &--homeAD {

        padding: 5vh 0;
    }

    &__boxImg {
        width: min(1200px, 100%);
        height: calc(150vh - 70px);
        // border-top: 6px solid #1d1d1d;
        // border-right: 6px solid #1d1d1d;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
        position: relative;
        z-index: 2;

        &--big {
            width: 100vw;
            background-image: url(../assets/images/homeImg.webp);
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 40vh 0vw 10vh;
            color: #FFF5E2;
        }



    }

    &__boxTxt {
        // max-width: 500px;

        height: 100%;
        width: clamp(500px, 25vw, 100%);
        margin: 3cqh 0 0 0vw;
        position: relative;
        z-index: 4;

        &--center{
            height: 110vh;
           
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &--bgNoir{
            background-color: #1d1d1d80;
            transform: translateX(0vw) translateY(0vh);
            padding: 8vh 3vw;
            height: 110vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            // color: #000;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__map {
        height: 140vh;
        width: 100%;
        display: block;
        z-index: 3;
        margin: 20vh 0 0 0;
        padding: 10vh 0 0 0;
        position: relative;
        //border: 2px solid black;
    }

    &__boxTitle {

        &--home {
            width: 500px;
            height: 140px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            right: 3vw;
            z-index: 0;
        }

        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    &__titre {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        min-height: 95vh;

    }

    &__imgDecor {
        width: 103vw;
        height: 45vh;
        aspect-ratio: 1/2;

        &--marginLeftMin {
            margin: 0 -170px 0 0;
        }

        &--min {
            width: 103vw;
            height: 13vh;
            aspect-ratio: 1/2;
        }

        &--rotateY {
            transform: rotateY(180deg);
        }

        &--spaceLeft {
            margin: 26vh 8vw 0 0;
        }
    }

    &__boxIntro {
        padding: 0 3vw 10vh 3vw;
        align-items: center;
        overflow: hidden;
        height: auto;
        max-height: 60vh;

        &--minHeigt {
            margin: -130px 0 0 0;
        }
    }

    &__firstContenut {
        padding: 4vh 3vw 10vh;
        width: 100%;
        height: auto;

    }

    &__colGauche {
        width: 100%;
        height: auto;
        //background-color: red;
        padding: 5vh 2vw;
        overflow: hidden;

    }

    &__colDroite {
        width: 100%;
        height: 100%;
    }

    &__imgHirondelle {
        width: 410px;
        fill: #FFF5E2;
        position: relative;
        z-index: 2;

        &>g>path {
            fill: #FFF5E2;
        }

        &>g>g>path {
            fill: #FFF5E2;
        }

    }
    &____historyLand{
        width: 100vw;
        height: calc((180vh * 3) + 130vh);
        //background-color: red;
        display: flex;
        flex-direction: column;
        
    }

    &__artiste {
        width: 100vw;
        min-height: 110vh;
        height: auto;
        transform-origin: top left;
        overflow-x: hidden;
        margin: 0vw 0 0 0;
        padding: 3vh 0 0 0;
        // scroll-snap-align: start;
        // scroll-snap-stop: normal;
        // position: sticky;
        //top: 0;

        // &--rotate{
        //     width: 102vh;
        //     min-height: 100vw;
        //     height: 100vw;
        //     transform: rotate(-90deg) translateX(-100vh);
        // }

        // background-color: red;
    }

    &__motif {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        //overflow-x: hidden;

        &--GsapScroll {
            width: 100vw;
            height: 100vh;
            //overflow: hidden;
            border: #F9B949 solid 6px;
        }
    }

    &__attente {
        width: 100%;
        height: calc(80vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-image: url(../assets/images/fondPapierBig.jpg);
    }

    &__nameBigBox {
        width: 100%;
        height: 100vh;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF5E2;
        font-size: 120px;
        //margin: -55vw 0 0 0;

        &--fondImg {
            background-image: url(../assets/images/oldamerica/fondPeauNoir.webp);
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            background-attachment: fixed;
        }

        &--fondImgJap1 {
            //background-image: url('../assets/img/japan/irezumiBack2.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            background-attachment: fixed;
        }
    }

    &__illu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //height: 70vh;
        height: 100%;
        width: 100%;
        margin: 10vh 0;
        position: relative;
    }
   
    
}
.boxIntro{

    &__boxContent{
        width: auto;
        display: flex;
        flex-direction: row;
        column-gap: 2vw;
        row-gap: 1vh;
        justify-content: flex-start;
        align-items: flex-end;

        &>p{
            max-width: 50ch;         
        }

    }
}








@media(min-width:600px) {
    .sect {
        &--row {

            flex-direction: row;
        }
        &--rowReverse{
            display: flex;
            flex-direction: row;
        }

        &__boxImg {
            width: min(1200px, 100%);
            height: calc(100vh - 70px);

            &--big {
                width: 100vw;
                padding: 10vh 5vw;
            }

        }
        &--heigth100 {
            //height: 100vh;
            height: 100vh;
           
    
           
        }

        //
        &__artiste{
            padding: 0;
            &--rotate{
                width: 102vh;
                min-height: 100vw;
                height: 100vw;
                transform: rotate(-90deg) translateX(-100vh);
            }
        }
        &__interColor {
            height: 50vh;
        }

        //
        &__boxTxt {
            // max-width: 500px;
            margin: 3cqh 0 0 -5vw;
                
                &--bgNoir{
                    background-color: #1d1d1d;
                    transform: translateX(5vw) translateY(-14vh);
                    height: 100vh;
                    width: clamp(650px, 25vw, 100%);

        
                    // color: #000;
                }
            
        }

        &__titre {
            flex-direction: row;
            justify-content: space-between;
        }

        &__imgDecor {
            //width: 689px;
            //height: 857px;
            width: 30vw;
            height: auto;

            &--marginLeftMin {
                margin: 0 -120px 0 0;
            }

            &--min {
                // width: 488px;
                // height: 607px;
                width: 25vw;
                height: auto;
            }

            &--spaceLeft {
                margin: 26vh 3vw 0 0;
            }
        }
        &__map{
            margin: 0;
        }

        &__boxTitle {

            &--home {
                width: 500px;
                height: 140px;
                flex-direction: row;
                right: 3vw;
            }

            width: 20vw;
            height: 140px;
            flex-direction: row;
            align-items: center;

        }
        &__boxIntro {
            padding: 0 5vw 0 0;
            align-items: center;
    
            &--minHeigt {
                margin: -250px 0 0 0;
            }
        }
        &__colGauche {
            width: 65%;
            height: 100vh;
            padding: 5vh 2vw;
            overflow: visible;
    
        }
    
        &__colDroite {
            width: 35%;
            
            height: 100%;
        }
        &__firstContenut {
            padding: 0 5vw 5vh 0;
            margin: 0 0 5vh 0;
            
            min-height: 120vh;
            //position: sticky;
    
        }
        &__illu {
           flex-direction: row;
            height: 100vh;
            margin: 4vh 0;
            align-items: flex-start;
        }
        &__illuGrid {
            display: grid;
            grid-template-rows: 50vh 50vh;
            grid-template-columns: 1.5fr 1fr;
            column-gap: 2vw;
            grid-template-areas:
            "i1 t1"
            "i1 i2" ;
            height: 100vh;
            width: 100%;
            margin: 4vh 0 0 0 ;
            position: relative;

            &:nth-child(1){
                grid-area: i1;
            }
            &:nth-child(2){
                grid-area: i2;
            }
            &:nth-child(3){
                grid-area: t1;
            }

           
        }
        

        //
    }
}


