

.sect{
    &__btn{
        padding: 16px 80px;
        font-family: "Josefin";
        font-size: 21px;
        font-weight: 600;
        color: #FFF5E2;
        cursor: pointer;
        border: none;
        background-color: inherit;
        transition: 0.6s;
        margin: 5vh 0 0 0 ;
        display: inline-block;
        max-width: 340px;
        &:hover{
            background-color: #FFF5E2;
            color:  #1d1d1d;
            transition: 0.3s;
            font-family: "Josefin-italic";
            font-weight: 400;
        }


        &--yellow{
            background-color: #F9B949;
            
            color: #1d1d1d;

            &:hover{
                background-color: #FFF5E2;
               
                color: #1d1d1d;
            }
        }
        &--small{
            max-width: 320px;
        }
    }
    
    
}