@use './styles/Fonts.scss';
@use './styles/Sect.scss';
@use './styles/StylePage.scss';
@use './styles/SmallCardList.scss';
@use './styles/MapBoxStyle.scss';
@use './styles/HorizontalScroll.scss';
@use './styles/MotifStyle.scss';
@use './styles/ImgFull.scss';
@use './styles/TonAventure.scss';
@use './styles/Foot.scss';


.changePage{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9b949;
  z-index: 2;
}